<script lang="ts">
	import type { OrderedRSSItem } from './+page.server';
	import ItemAccordion from '../lib/components/ItemAccordion.svelte';

	export let data: { guardianData: OrderedRSSItem };
</script>

<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="node_modules/@picocss/pico/css/pico.min.css" />
		<title>Hello, world !</title>
	</head>
	<body>
		<article>
			{#each data.guardianData as item}
				<ItemAccordion {item} />
			{/each}
		</article>
		<body />
	</body></html
>

<style>
	article {
		left: 5%;
		top: 5%;
	}
</style>
