<script lang="ts">
	import type { OrderedRSSItem } from '../../routes/+page.server';

	export let item: OrderedRSSItem;
</script>

<details>
	<summary><a href={item.link}>{item.title}</a></summary>
	<p>{item.description}</p>
	<p>Published at: {item.published?.toLocaleString()}</p>
</details>
